*{
  // font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  text-decoration: none;
}

header{
  height: 50px;
  background: #5D4037;
  color: #f4eeff;
  position: fixed;
  z-index: 10;
  width: 100%;
  .header-logo{
    margin-left: 30px;
    font-size: 30px;
    line-height: 45px;
  }
}

.top-section{
  // background-image: url('./images/imageonline-co-overlayed-image.jpg');
  background: #795548;
  color: #f4eeff;
  background-size: cover;
  height: 600px;
  .container{
    text-align: center;
    padding: 270px;
  }
  h1{
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 25px;
  }
  p{
    font-size: 30px;
  }
  .fas{
    margin-top: 100px;
    font-size:20px;
    border-radius: 50%;
    background-color: #424F20;
    padding: 20px
  }
}

.main-section{
  background: #f4eeff;
  padding: 100px 0;
  color: #0b0c13;
  .container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  img{
    height: 300px;
    float: left;
    margin-right: 30px;
  }
  .right{
    margin-top: 50px;
  }
  h1{
    font-size: 45px;
    margin-bottom: 30px;
    border-bottom: 1px solid #795548;
    display: inline-block;
    padding: 20px;
  }
  h2{
    font-size: 35px;
    margin-bottom: 10px;
  }
  p{
    font-size: 25px;
    margin-bottom: 70px;
  }
}

.sub-section{
  background: #0b0c13;
  .container{
  padding: 100px 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h1{
    font-size: 45px;
    margin-bottom: 30px;
    border-bottom: 1px solid #795548;
    display: inline-block;
    padding: 20px;
    color: #f4eeff;
  }
  }
  a{
    display: block;
    margin-bottom: 20px;
    color: #f4eeff;
    font-size: 25px;
  }
  .yellow{
    color: #e67e22;
  }
  .green{
    color: #8BC34A;
  }
  .blue{
    color: #424874;
  }
}
